body {
	color:white;
	font-size: 16px;
	font-family:Nunito;
	text-decoration: none;
	text-align: center;
	line-height: 1.6;
	letter-spacing: 1px;
	background-color:#252958
}

h1, h2, h3, h4 {
	font-size: 25px;
	font-weight:extra-bold;

}
h1 {
	font-size: 60px;
	background-image:url("images/fond.gif");
	background-size: 1710px 500px;
	border-radius: 30%;
}

a{
	text-decoration: none;
	color:white;
	font-weight: 100;
	transition: color 0.3 ease;
}

a:hover {
	color:#D962EA;
}

.Media:hover {
	color:#D962EA;
}

.Media {
	font-size: 18px;
}

ul {
	list-style: none;
}


div {
	border-top: 5px solid purple;
	border-bottom: 5px solid purple;
	border-left: 5px solid purple;
	border-right: 5px solid purple;
	margin:30px;
	padding: 20px;
	border-radius: 2%;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
}

#Test {
	border-right: 0px;
	border-left: 0px;
	border-top: 0px;
	text-align: center;
}

#maison {
	font-size: 50px;
}

#main {
	border-radius: 50%;
	box-shadow: 5px 5px 5px black;
	box-lines: 5px black;
}







